body{
	font-family: arial;	
	background-image: url("Img/background.png");
} 

header nav ul li{
	List-style: none;
	display: inline-block;
} 

.laterais{
	margin: 0px 150px 0px 150px;
    min-width: 1036px;
    position:relative;
}

.centro{
	text-align: center;
	margin: 0px 150px 0px 150px;
	color: white;
}

.par1{
	border-style: solid;
	padding: 102px;
	position: relative;
	text-align: left;
	margin: 0px 0px 25px 300px;
	background: black;
	color: white;
}

.par2{
	border-style: solid;
	padding: 111px;
	position: relative;
	text-align: right;
	margin: 0px 300px 25px 0px;
	color: white;
	background: black
}
.par3{
	border-style: solid;
	border-color: black;
	background: black;
	color: white;
	
}
.par4{
	border-style: solid;
	border-color: white;
	background: black;
	color: white;
	
}

.button {
	color: #000;
	width: 245px;
	height: 57px;
	text-align: center;
	padding: 0 10px;
	background: #EEEE00;
}

.button.active {
	color: #000;
	background: #00EE00;
}

.backer{
		background-image: url('Img/Darkfaixa.png');
}
.becker{
		background-image: url('Img/Logo.png');
}

.carousel-inner > .item > img {
    position-relative;
    min-width: 100%;
    height: 1024px; 
}	

	
